#cb-domain-form {background-color: #232c3b ;}
#cb-domain-search {max-width: 900px;margin: 0 auto;padding-top: 30px;padding-bottom: 30px;}
#cb-domain-search .small #Search{
    height: 50px !important;
    font-size: 20px !important;
    border-radius: 43px;
    border: 1px solid #fff;
    padding: 12px 112px 12px 25px;
    background-color: #fff;
    color: #787878;
    z-index: 0;
}
#cb-domain-search .small .col-xs-10 {
font-size: 14px !important;
}
.cb-domain-search-form {
    overflow: hidden;
}
#cb-domain-search .pure-form{}
#cb-domain-search .pure-form .input-group{}
#cb-domain-search .pure-form .small{}
#cb-domain-search .pure-form .input-group-btn{position: absolute;
    right: 48px;
    top: 0px;}
#cb-domain-search .pure-form .input-group-btn #Submit{
    box-shadow: none !important;
    border-radius: 43px;
    border: 0px solid #fdd700;
    background-color: #fdd700;
    color: #0d0b00;
    font-size: 20px;
    outline: none;
    padding: 18px 20px;
    font-weight: 500 !important;
    font-family: sans-serif, Arial;
    transition: all .15s ease-out;
    text-transform: capitalize;}
#cb-domain-search .pure-form .input-group-btn #Submit:hover{
    border: 0px solid #ff6c3a;transition: all .15s ease-out;
    background-color: #ff6c3a;}
#cb-domain-search .cb-domain-price ul{list-style: none;
    margin: 0;
    text-align: center;
    padding: 0;}
#cb-domain-search .cb-domain-price ul li{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-family: sans-serif, Arial;
    font-size: 16px;
    padding: 0px 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
#cb-domain-search .cb-domain-price ul li:first-child{padding-left: 0px}
#cb-domain-search .cb-domain-price ul li a{
    color: #c6cad2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif, Arial;
    }
#cb-domain-search .cb-domain-price ul li:last-child{padding-right: 0px}
#cb-domain-search .cb-domain-price ul li span{
    color: #ee5586;
    font-size: 16px;
    padding-right: 10px;
    font-weight: 400;
    font-family: sans-serif, Arial;
    }
#cb-domain-search .cb-domain-price ul li sup{font-size: 14px;text-transform: uppercase;color: #c6cad2;}
#cb-domain-search .cb-domain-details{
    overflow: hidden;
    width: 100%;
    margin-top: 5px;
    margin-left: 10px;
}
#cb-domain-search .cb-domain-details ul{list-style: none;margin: 0;padding: 0;text-align: left;}
#cb-domain-search .cb-domain-details ul li{
    display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
    }
#cb-domain-search .cb-domain-details ul li a{
    color: #c6cad2;
    text-decoration: none;
    font-size: 13px;
    border-right: 1px solid #ff6c3a;
    font-weight: 400;
    transition: all .15s ease-out;
    padding-left: 5px;
    padding-right: 10px;
    font-family: sans-serif, Arial;
    }
#cb-domain-search .cb-domain-details ul li a:hover{color: #ff6c3a;transition: all .15s ease-out}
#cb-domain-search .cb-domain-details ul li:last-child a{border-right: none;}

.cb-domain-lds-ellipsis {
display: block;
    position: relative;
    width: 80px;
    min-height: 13px;
    margin-bottom: 10px !important;
}
.cb-domain-lds-ellipsis div {
  position: absolute;
  top: 80%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ff6c3a;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.cb-domain-lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.cb-domain-lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.cb-domain-lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.cb-domain-lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.cb_domain_check_loader {
    text-align: center;
    margin: 0 auto;
}
.cb-domain-name-available{}
.cb-domain-name-available p{color:green;font-size: 30px;
text-align: center;}
.cb-domain-name-available a {color:#ff6c3a;font-size: 30px;}
.cb-domain-name-registered{}
.cb-domain-name-registered p{color: red;
font-size: 30px;
text-align: center;}
.cb-domain-price ul li:before, .cb-domain-details ul li:before{display: none;}
.cb-domain-details ul li {padding: 5px 0;}